@charset "UTF-8";

div#wrapper{
/*background-color:#F5EFE9;*/
background-color:#fff;
height:800px;
margin:0 auto;
width:800px;
}

.menu-area-top,
.menu-area-bottom {
  background-color: #F5F5F5;
  border: #e4e1e1 solid 1px;
  height: 100px;
  text-align: center;
  line-height:100px;
  width : 100%;
}

.marker {
  background-color:#FFE566;
	background: linear-gradient(transparent 0%, #00FFFF 60%);
}

.color-picker-wrp {
  background-color:#f8f9ff;
  border: #ccd0ec solid 1px;
  display: none;
  top: 0;
  height: 24px;
  position: absolute;
  left: 0;
  width: 50px;
}

.color-picker-wrp table {
  border-collapse: collapse;
  width: 100%;
}

.color-picker-wrp table td {
  cursor: pointer;
  height: 10px;
  width: 50%;
}

#pick-red {
  background-color: #ec96cb;
}

#pick-blue {
  background-color: #579ff5;
}

#pick-yellow {
  background-color: #f1ca46;
}

#pick-green {
  background-color: #2cd29a;
}
