@charset "UTF-8";

body {
    background-color: #e8e8e8;
    color: #7b3030;
}

b {
    font-weight: 800;
}

div#wrapper{
/*background-color:#F5EFE9;*/
height:800px;
margin:0 auto;
width:90%;
}

.Info {
    width: 500px;
    height: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #3a6560;
    text-align: center;
    color: #fff;
}

.clear {
    clear:both;
}

.menu-area-top {
  background-color: #F5F5F5;
  border: #e4e1e1 solid 1px;
  min-height: 100px;
  max-height: 1000px;
  text-align: center;
  width : 100%;
}

.menu-area-bottom {
  background-color: #F5F5F5;
  border: #e4e1e1 solid 1px;
  height: 100px;
  text-align: center;
  line-height:100px;
  width : 100%;
}

.marker {
  font-style: inherit;
}

.red {
  background-color: #ffcccc;
  background: linear-gradient(transparent 0%, #ffcccc 60%);
}

.blue {
  background-color: #abd5ff;
  background: linear-gradient(transparent 0%, #abd5ff 60%);
}

.yellow {
  background-color: #ffff99;
  background: linear-gradient(transparent 0%, #ffff99 60%);
}

.green {
  background-color: #b2e57e;
  background: linear-gradient(transparent 0%, #b2e57e 60%);
}

.color-picker-wrp {
  background-color:#f8f9ff;
  display: none;
  top: 0;
  height: 24px;
  position: absolute;
  left: 0;
  z-index: 20;
}

.color-picker-wrp table {
  border-collapse: collapse;
  width: 100%;
}

.color-picker-wrp table td {
  cursor: pointer;
  height: 24px;
  width: 25px;
}

#pick-red, .red {
  background-color: #ffcccc;
}

#pick-blue, .blue {
  background-color: #abd5ff;
}

#pick-yellow, .yellow {
  background-color: #ffff99;
}

#pick-green, .green {
  background-color: #b2e57e;
}

#pick-del {
  display: none;
}

#pick-del {
    background-color: #000;
}
