@charset "UTF-8";

div#wrapper{
/*background-color:#F5EFE9;*/
background-color:#fff;
height:800px;
margin:0 auto;
width:800px;
}

table#anoOnnanoko{
width:700px;
}

#anoOnnanoko td{
font-size:15px;
vertical-align:middle;
}

#anoOnnanoko td:first-child{
/*background-color:rgba(48,77,21,0.3);*/
}

#anoOnnanoko td:last-child{
/*background-color:rgba(0,159,21,0.3);*/
padding:0 20px;
}

#anoOnnanoko span.bubble{
background-color:#fff;
border-radius:4px;
border:1px solid #F6F6F6;
box-shadow:1px 1px 2px #E4E3E3;
display:block;
height:55px;
line-height:23px;
padding:15px 10px 0 10px;
position:relative;
text-align:left;
width:auto;
z-index:0;
}

#anoOnnanoko span.bubble:before{
content:"";
position:absolute;
top:50%;
left:-11px;
margin-top:-12px;
display:block;
width:0;
height:0;
border-style:solid;
border-width:12px 12px 12px 0;
border-color:transparent #fff transparent transparent;
z-index: 0;
}
#anoOnnanoko span.bubble:after{
border-color:transparent #F6F6F6 transparent transparent;
border-style:solid;
border-width:12px 12px 12px 0;
content:"";
display:block;
height:0;
left:-13px;
margin-top:-12px;
position:absolute;
top:50%;
width:0;
z-index: -1;
}
