form.CGMForm{
background-color:#f4f4d5;
color:#3c3c3c;
height:auto;
margin:0 auto 17px;
padding:20px 15px 10px 15px;
width:600px;
}

form.CGMForm p{
margin:0;
}

form.CGMForm table{
margin-top:15px;
}

form.CGMForm .red{
color:#ea403f;
}

form.CGMForm .blue{
color:#5053ca;
}

form.CGMForm td{
padding-bottom:5px;
padding-top:5px;
}

form.CGMForm .annotation{
font-size:12px;
padding-left:8px;
}

form.CGMForm .pullDown{
padding-top:15px;
}

form.CGMForm p.heading{
font-size:16px;
font-weight:600;
}

form.CGMForm p.heading span{
font-size:13px;
font-weight:normal;
padding-left:20px;
}

form.CGMForm td.title{
font-size:14px;
font-weight:600
}

form.CGMForm input.textCGM{
border:solid 1px #E2E292;
font-size:20px;
height:30px;
width:215px;
}

form.CGMForm input.longText{
width:575px;
}

form.CGMForm p.submitCGM{
margin:15px 0 15px;
text-align:center;
}

form.CGMForm p.submitCGM input{
color:#fff;
background-color:#22b14d;
border:solid 1px #22b14d;
border-radius:6px;
font-size:20px;
font-weight:600;
height:43px;
width:235px;
}

form.CGMForm p.bottomAnnotation{
font-size:12px;
line-height:18px;
}
